* {
    box-sizing: border-box;
    
}

body {
    height: 100%;
    width: auto;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: blue;
}

Side {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: aquamarine;
    overflow-x: hidden;
}

Side .timer {
    z-index: 1;
    background-color: red;
    display: block;
    text-align: center;
}

Side .HiScore {
    color: rgb(76, 120, 14);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 15px 40px;
  
}



question {
    height: 600px;
    background-color: aliceblue;
    display: block;
}

question Number {
    margin: 0;
    padding: 20px;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
    display: block;
}

question query {
    margin: 0;
    padding: 20px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: block;
}

question .answers {
    margin: 0px 0;
    padding: 45px;
    text-align: left;
    list-style-type: upper-alpha;
    display: inline-block;
}

button {
    display: block;
    margin: 10px;
    padding: 10px 20px 10px 30px;
    background-color: rgb(181, 211, 232);
}


.answers :hover {
    cursor: pointer
}

#a {

}

#b {

}

#c {

}

#d {

}